:root {
  --primary-color: #e95a08;
  --secondary-color: #000000;
  --accent-color: rgba(0, 0, 0, 0.5);
  --bg-color: #f5f8ff;
  --font-family: "Inter", sans-serif;
}
body {
  margin: 0 auto;
  background-color: var(--bg-color);
}
/* Font Styles */
.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Common Styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* Nav Style */
nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 150px 0 150px;
}
img.logo {
  width: 135px;
  height: 82px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 48px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #8987a1;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 24px;
}
.active {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 24px;
}
.cart {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 24px;
}
i.fa-solid.fa-cart-shopping {
  margin-right: 10px;
}

/* Hero Section Styles*/
.hero {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 185px 150px 120px 150px;
}
.text-primary {
  color: var(--primary-color);
}
.hero-title {
  font-size: 65px;
  font-weight: bold;
  margin: 0;
}
.hero-description {
  font-size: 22px;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--accent-color);
  margin: 13px 0 0 0;
}

/* Plant Section Styles */
.plant-content {
  text-align: center;
}
.section-title {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
.plant-description {
  font-size: 22px;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--accent-color);
  margin: 16px auto;
  max-width: 888px;
}
.plant-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}
.plant-item {
  text-align: center;
}
.plant-name {
  font-size: 22px;
  font-family: var(--font-family);
  color: #111111;
  font-weight: 500;
  line-height: 150%;
  margin: 30px 0 10px 0;
}
.plant-price {
  font-size: 22px;
  font-family: var(--font-family);
  color: #111111;
  font-weight: bold;
  line-height: 150%;
  margin: 0 0 0 0;
}
.plant-cart-button {
  padding: 20px 50px;
  width: 270px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  margin-top: 30px;
}

/* Responsive Styles */
/* Extra small (phones) */
@media (max-width: 575.98px) {
  /* Nav Section */
  .hide {
    display: none;
  }
  nav {
    margin: 13px 16px;
  }
  img.logo {
    width: 63px;
    height: 38px;
  }

  /* Hero Section */
  .hero {
    flex-direction: column-reverse;
    align-items: end;
    margin: 0 auto;
    gap: 28px;
    margin-top: 28px;
    margin-bottom: 65px;
  }
  img.hero-image {
    width: 393px;
    height: auto;
  }
  .hero-content {
    margin: 0 16px;
  }
  .hero-title {
    font-size: 24px;
  }
  .hero-description {
    font-size: 14px;
  }

  /* Hero Section */
  .section-title {
    font-size: 24px;
  }
  .plant-description {
    font-size: 14px;
    max-width: 336px;
  }
  .plant-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0px;
    margin-top: 28px;
  }
  img.plant-image {
    width: 171px;
  }
  .plant-name {
    font-size: 18px;
  }
  .plant-price {
    font-size: 16px;
  }
  .plant-cart-button {
    padding: 15px 30px;
    width: 171px;
  }
}
